.banner{
    background-image: url(../../../images/banner.png);
   height: 500px;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width:688px) {
  .banner{
    margin-left: 0px;
    height: 100%;
    
    
  }
}